.navbar {
    background-color: #3fc5f0 !important;
}


/* Main page body */
.header{
    background-image: url('Images/maui.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 600px; 
}

.overlay{
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.50);
  }

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;
    border-radius: 5px;
    background-color: rgb(204, 204, 204, 0.80);
    
}

/* Team section */
.card{
    width: 20px;
}

#teamTitle{
    margin: 10px;
}

.profileimg{
    border-radius: 3px;
    width: 90%;
}

.teamDivider {
    border: 1px solid #3fc5f0;
}

/* FOOTER CSS */

.page-footer{
    margin-top: 100px;

}

.footerContainer {
    background-color: #eef5b2;
    color:gray;
    padding-top: 20px;
}

.footerLinks {
    color: gray !important;
    text-decoration: none;
}

/* Survey CSS */

#userNameInput {
    margin-left: 10px;
}

.questionRow {
    justify-content: left;
    margin-top: 10px;
    background-color: #42dee1;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    height: 70px;
}

.question {
    padding: 20px;
    vertical-align: middle;
}

.optionContainer{
    padding: 20px 0px;
    background-color: #e4e4e4;
    border-radius: 5px;
    margin-top: 10px;


}

.icon {
    padding: 20px;

}